.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    background-color: hsl(228, 92%, 86%);
}
.top-container {
    width: 25rem;
    margin:auto;
    background-color: white;
    border-radius: 25px;
    height: 40rem;

}

p {
    width: 85%;
    margin: auto;
    padding-top: 50px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
    
    
}

.scan-text {
    font-size: 17px;
    font-weight: 100;
    width: 80%;
    display: inline-block;
    color: #66bfbf;
    padding-top: 10px;
    letter-spacing: normal;
}

.qr-code {
    width: 350px;
    height: 350px;
    margin: 20px 0 0 25px;
    border-radius: 25px;
    
    
}